@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
}

.banner{
  height: 700px;
  color: white;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .name{
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  }

  .work{
    font-size: 40px;
    color: #2B91DE;
    font-family: 'Ubuntu', sans-serif;
  }

  p{
    color: #92938A;
    font-size: 20px;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.about{
  height: 650px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  .img-about{
    border-radius: 50%;
    width: 65%;
  }

  p{
    color: #92938A;
  }

}

.tech{
  display: flex;
  flex-direction: column;
  .img-tech{
    width: 10%;
  }
}

.experiences{
  height: 400px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  .img-wagon{
    width: 40%;
  }
  .img-experiences{
    width: 30%;
  }

}

.projets{
  height: 900px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.card-projects{
  margin: 50px auto;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all .25s ease;
}
.card-projects .content p{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 1rem;
  opacity: 0;
  margin-bottom: -160px;
  transition: all .25s ease;
}
.card-projects .content p button{
  padding: 8px  18px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: .8rem;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all .25s ease;
}
.card-projects:hover .content p{
  margin-bottom: 0;
  opacity: 1;
}
.card-projects:hover img{
  transform: scale(1.50);
}
.card-projects:hover ul{
  transform: translate(0);
  opacity: 1;
}
.card-projects:after{
  width: 100%;
  content: "";
  left: 0;
  bottom: 0;
  height: 150px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,0)0%,rgba(0,0,0,1)100%);
  z-index: 20;
  transition: all .25s ease;
}
.card-projects img{
  height: 112%;
  z-index: 10;
  transition: all .25s ease;
}
.card-projects .content{
  z-index: 30;
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
  padding-bottom: 20px;
}
.card-projects .content p button:hover{
  background: #fff;
  color: #000;
}


.contact{
  height: 400px;
  font-size: 40px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}


.footer{
  color: #92938A;
}
