@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
}

.banner{
  height: 700px;
  color: white;
  h1{
    font-size: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  }

  h2{
    color: #2B91DE;
  }

  p{
    color: #92938A;
    font-size: 20px;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.about{
  height: 650px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  .img-about{
    border-radius: 50%;
    width: 40%;
  }

}

.tech{
  display: flex;
  flex-direction: column;
  .img-tech{
    width: 10%;
  }
}

.experiences{
  height: 400px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  .img-wagon{
    width: 40%;
  }
  .img-experiences{
    width: 30%;
  }
}

.projets{
  height: 600px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.card{
  color: white;
  background-color: rgb(56, 50, 50);
}
