@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
}

.about{
  height: 650px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  .img-about{
    border-radius: 50%;
    width: 65%;
  }
  p{
    color: #92938A;
  }
}

.tech{
  display: flex;
  flex-direction: column;
  .img-tech{
    width: 10%;
  }
  @media (max-width: 576px)
  {  .img-tech{
    width: 30%;
   } }
}

.experiences{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  .img-wagon{
    width: 40%;
  }
  .img-experiences{
    width: 30%;
  }
  p{
    color: #92938A;
  }
  @media (max-width: 576px)
  {  h1{
    padding-top: 95%;
   }

   h5{
    padding-top: 450px;
   }
   .img-experiences{
    width: 60%;
  }
  .img-wagon{
    width: 75%;
  } }
}

.projets{
  color: white;
  display: flex;
  justify-content: center;
}


.contact{
  color: white;
}
