.navbar.navbar-expand-sm.navbar-light.navbar-lewagon
  .container-fluid
    %a.navbar-brand{href: "#"}
      %img{src: "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"}/
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
        %li.nav-item.active
          %a.nav-link{href: "#"} Home
        %li.nav-item
          %a.nav-link{href: "#"} Messages
        %li.nav-item.dropdown
          %img#navbarDropdown.avatar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", src: "https://kitt.lewagon.com/placeholder/users/ssaunier"}/
          .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{href: "#"} Action
            %a.dropdown-item{href: "#"} Another action
            %a.dropdown-item{"data-turbo-method" => "delete", href: "#"} Log out

.banner.p-5
  .container-fluid.p-5
    .typewriter
      %h1.name ALEXANDRE SOLBES.
      %h2.work Fullstack Web Developper
      %p un développeur web curieux et en constante recherche d'opportunités et de challenges
      %button.btn.btn-dark{type: "button"} Linkedin
      %button.btn.btn-dark{type: "button"} Github
      %button.btn.btn-dark{type: "button"} Email

.about.p-5
  .row
    .col-6
      .container-about-text
        %h3 A propos 📚
        %p Aprés une carriére en banque internationale je suis aujourdhui web developper, j'ai assisté à la formation Webdevelopper au sein du Wagon Paris en 2022
        %p Je suis aujourdhui en recherche de poste en tant que web developper et souhaite collaborer afin de créer des projets et je continue aussi à explorer le code et acquérir de nouvelles compétences
        %p Lorsque je ne code pas je fais du sport me cultive sur la blockchain ainsi que la cybersécurité
        %h3 Technologies utilisées
        .tech
          .tech-logos
            %img.img-tech.p-3{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1668539359/js_zz3tqj.png"} Javascript
          .tech-logos
            %img.img-tech.p-3{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1668539359/ruby_gmclun.png"} Ruby on rails 7
          .tech-logos
            %img.img-tech.p-3{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1668539359/sass_qjiafv.png"} Sass (Scss)
          .tech-logos
            %img.img-tech.p-3{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1668539359/postgre_qwm0ca.png"} PosgreSQL

    .col-6.text-center
      %img.img-about{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1670084653/solbes_pp_pro-_2_-_1_-transformed_ia2tp5.png"}

.experiences.p-5.text-center
  .row.text-center
    %h1 Expériences & Formation
    .col-6
      .experiences.text-start.p-5
        %img.img-experiences.pb-3{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1669910305/cropped-Gala-Logo-4-4_aqsmv3.png"}
        %p Septembre -> Octobre 2022
        %p Refonte du front-end et back-end afin de renouveller l'identité visuelle ainsi qu'un meilleur affichage des aides destinées aux jeunes

    .col-6
      .formation.text-start.p-5
        %img.img-wagon.pb-3{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1669909955/le-wagon-white-87edccbd4867769e0951b7da30e253c6efd8417ee9a53a6960a9740f2dd7486e_vfrxjq.png"}
        %p Bootcamp développeur Web 2022
        %p Formation de 4 mois au métier de développeur web aboutissant sur une certification de niveau VI

.projets.p-5
  %h1.text-center Mes projets récents
  .row
    .col-6.p-5
      .card-projects
        %img{alt: "", src: "https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb"}/
        .content
          %h2 Amigo
          %p
            Application développée en équipe lors du bootcamp le %Wagon
            Amigo est une application web vous permettant d'organiser votre voyage en groupe plus facilement.
            moins de stress plus de vacances !
            %button Voir plus >>

    .col-6.p-5
      .card-projects
        %img{alt: "", src: "https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb"}/
        .content
          %h2 Amigo
          %p
            Application développée en équipe lors du bootcamp le %Wagon
            Amigo est une application web vous permettant d'organiser votre voyage en groupe plus facilement.
            moins de stress plus de vacances !
            %button Voir plus >>


.contact.text-center
  %h1 Me contacter:
  .container-contact.p-3
    %button.btn.btn-dark{type: "button"} Linkedin
    %button.btn.btn-dark{type: "button"} Github
    %button.btn.btn-dark{type: "button"} Email

.footer.text-center.p-3
  %p Design par Alexandre Solbes développé avec Haml et Scss
