.navbar.navbar-expand-sm.navbar-light.navbar-lewagon
  .container-fluid
    %a.navbar-brand{href: "#"}
      %img{src: "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"}/
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
        %li.nav-item.active
          %a.nav-link{href: "#"} Home
        %li.nav-item
          %a.nav-link{href: "#"} Messages
        %li.nav-item.dropdown
          %img#navbarDropdown.avatar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", src: "https://kitt.lewagon.com/placeholder/users/ssaunier"}/
          .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{href: "#"} Action
            %a.dropdown-item{href: "#"} Another action
            %a.dropdown-item{"data-turbo-method" => "delete", href: "#"} Log out

.banner.p-5
  .container-fluid.p-5
    .typewriter
      %h1 ALEXANDRE SOLBES.
      %p Web Developper
      %button.btn.btn-dark{type: "button"} Linkedin
      %button.btn.btn-dark{type: "button"} Github
      %button.btn.btn-dark{type: "button"} Email

.about.p-5
  .row
    .col-6
      .container-about-text
        %h3 A propos 📚
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste similique debitis, veniam mollitia quam modi nam inventore error accusamus. Eligendi voluptatum voluptatem dolor ducimus sunt. Quasi, accusantium? Earum, rem quos.
    .col-6.text-center
      %img{:alt => "", :src => "https://res.cloudinary.com/dhbstfsez/image/upload/v1669311667/PP_ALEX_eyot9i.jpg"}
